 @model MVAdmin

@{
	Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
	<title>Regester</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="/Regester/images/icons/favicon.ico" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/Regester/vendor/bootstrap/css/bootstrap.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/Regester/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/Regester/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/Regester/vendor/animate/animate.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/Regester/vendor/css-hamburgers/hamburgers.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/Regester/vendor/animsition/css/animsition.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/Regester/vendor/select2/select2.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/Regester/vendor/daterangepicker/daterangepicker.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/Regester/css/util.css">
	<link rel="stylesheet" type="text/css" href="/Regester/css/main.css">
	<!--===============================================================================================-->
</head>

<body>
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-form-title" style="background-image: url(/Regester/images/bg-01.jpg);">
					<span class="login100-form-title-1">
						Sign In
					</span>
				</div>

				<form action="/Home/Regestersign" method="post" style="direction: rtl;"
					class="login100-form validate-form">
					<div class="wrap-input100 validate-input m-b-26">
						<input class="input100" type="text" asp-for="Admin" placeholder="نام خود را وارد کنید">
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-18">
						<input class="input100" type="password" asp-for="PassWord" placeholder="رمز خود را وارد کنید">
						<span class="focus-input100"></span>
					</div>

					<p style="text-align:center;" class="alert alert-danger">اسم یا رمز شما اشتباه است</p>

					<div class="container-login100-form-btn">
						<button type="submit" class="login100-form-btn">
							ورود
						</button>
					</div>
				</form>

			</div>
		</div>
	</div>

	<!--===============================================================================================-->
	<script src="/Regester/vendor/jquery/jquery-3.2.1.min.js"></script>
	<!--===============================================================================================-->
	<script src="/Regester/vendor/animsition/js/animsition.min.js"></script>
	<!--===============================================================================================-->
	<script src="/Regester/vendor/bootstrap/js/popper.js"></script>
	<script src="/Regester/vendor/bootstrap/js/bootstrap.min.js"></script>
	<!--===============================================================================================-->
	<script src="/Regester/vendor/select2/select2.min.js"></script>
	<!--===============================================================================================-->
	<script src="/Regester/vendor/daterangepicker/moment.min.js"></script>
	<script src="/Regester/vendor/daterangepicker/daterangepicker.js"></script>
	<!--===============================================================================================-->
	<script src="/Regester/vendor/countdowntime/countdowntime.js"></script>
	<!--===============================================================================================-->
	<script src="/Regester/js/main.js"></script>

</body>

</html>