@model MVUser 

@{
	Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
	<title>Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="/UserLogin/images/icons/favicon.ico" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/UserLogin/vendor/bootstrap/css/bootstrap.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/UserLogin/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/UserLogin/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/UserLogin/vendor/animate/animate.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/UserLogin/vendor/css-hamburgers/hamburgers.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/UserLogin/vendor/animsition/css/animsition.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/UserLogin/vendor/select2/select2.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/UserLogin/vendor/daterangepicker/daterangepicker.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/UserLogin/css/util.css">
	<link rel="stylesheet" type="text/css" href="/UserLogin/css/main.css">
	<!--===============================================================================================-->
</head>

<body style="direction: rtl;">

	<div class="limiter">
		<div class="container-login100" style="background-color: black;">
			<div class="wrap-login100 p-t-30 p-b-50">
				<span class="login100-form-title p-b-41">
					ثبت نام
				</span>
				<form action="/Home/signupadd" method="post" class="login100-form validate-form p-b-33 p-t-5">

					<div class="wrap-input100 validate-input"> 
						<input asp-for="UserName" class="input100" type="text" placeholder="نام خود را وارد کنید">
						<span class="focus-input100" data-placeholder="&#xe82a;"></span>
					</div>

					<div class="wrap-input100 validate-input">
						<input asp-for="PassWord" class="input100" type="password" placeholder="رمز خود را وارد کنید"> 
						<span class="focus-input100" data-placeholder="&#xe80f;"></span>
					</div>

					<div class="container-login100-form-btn m-t-32">
						<button type="submit" class="login100-form-btn">
							ورود
						</button>
					</div>

				</form>
			</div>
		</div>
	</div>


	<div id="dropDownSelect1"></div>

	<!--===============================================================================================-->
	<script src="/UserLogin/vendor/jquery/jquery-3.2.1.min.js"></script>
	<!--===============================================================================================-->
	<script src="/UserLogin/vendor/animsition/js/animsition.min.js"></script>
	<!--===============================================================================================-->
	<script src="/UserLogin/vendor/bootstrap/js/popper.js"></script>
	<script src="/UserLogin/vendor/bootstrap/js/bootstrap.min.js"></script>
	<!--===============================================================================================-->
	<script src="/UserLogin/vendor/select2/select2.min.js"></script>
	<!--===============================================================================================-->
	<script src="/UserLogin/vendor/daterangepicker/moment.min.js"></script>
	<script src="/UserLogin/vendor/daterangepicker/daterangepicker.js"></script>
	<!--===============================================================================================-->
	<script src="/UserLogin/vendor/countdowntime/countdowntime.js"></script>
	<!--===============================================================================================-->
	<script src="/UserLogin/js/main.js"></script>

</body>

</html>